body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  text-align: center;
}

nav{
  background-color: blueviolet;
  padding: 0;
  margin: 0;
}
nav ul{
  display: flex;
  box-sizing: border-box;
  
  list-style: none;
  text-align: center;
}
nav li{
  margin: 1em;
}
header{
  background-color: aquamarine;
}
section{
  background-color: red;
}


footer{
  background-color: chartreuse;
}