/* src/assets/styles/global.css */
body {
    font-family: "SUSE", sans-serif;
    margin: 0;
    background-color: #f8f5f5;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 5px 0;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

header ul li {
    margin: 0 15px;
    padding: 5px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "SUSE", sans-serif;
    font-size: 1.0rem;
}

nav li:hover{
  /* background-color: blue; */
  border-radius: 5px;
  color: #242323;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 8px #0e0d0dc5;
  transition: background-color 0.3s ease;

}
header a:hover{
    color: darkgoldenrod;
}
header img{
    width: 4em;
    position: absolute;
    padding: 0 0 0 3em;

}

nav img{
    width: 100%;
    
}
nav h3,h1{
    position: absolute;
    padding: 4em 0 0 5em;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    
    

}
nav button{
    
    position: absolute;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 10em;
    height: 2em;
    margin-top: 4em;
    
    
}

.features {
    padding: 50px 0;
    background: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.feature {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

